@import "tailwindcss";

@layer base {
    .back-img-phone {
        /* background-image: url(../img/678a1682d463254a5d651549_Group_20127263.png); */
        background-image: url(../img/679d91c53655dbb3f70b9d07_KM_Thumbnails.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    @media (min-width: 768px) {
        .back-img-tablet {
            background-image: url(../img/679d91c53655dbb3f70b9d07_KM_Thumbnails.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .d-fe {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        align-items: center;
    }

    .d-fc {
        display: flex;
        justify-content: center;
        justify-items: center;
    }

    .d-fs {
        display: flex;
        justify-content: start;
        justify-items: center;
    }

    .font-style {
        font-family: "Fira Code", monospace;
    }
}